/* Hero Pagina de Inicio*/
.hero {
	background-image: url(../images/sunset-4603355_1920.jpg);
	height: 91vh;
	background-position: center;
	background-size: cover;
}
.hero__textos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
	height: 100%;
}